/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--background-color);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  background-image: var(--background-image) ;
  background-size: auto 768px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
}

.header__rec {
  position: absolute;
  right: 20px;
  top: 10px;
}

.header__rec::before {
  content:'REC';
  block-size: 9px;
  inline-size: 9px;
  color: var(--rec-color);
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
}

.header__rec::after {
  content:'';
  border-radius: 100%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background-color: var(--accent-color);
  block-size: 9px;
  inline-size: 9px;
  display: inline-block;
  margin-left: 10px;
}


.header {
display: grid;
grid-template-rows: 1fr min-content ;
padding: 10px;
align-items: center;
/*block-size: 100vh;
  min-height: 668px; */
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-block-end: 10px;
  inset-inline-start: 10px;
}

.header__theme-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--accent-color);
  padding-top: 66px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.header__theme-menu-button {
  border: none;
  background-color: transparent;
  font-weight: 400;
  font-family: var(--font-family);
  font-size: 18px;
  cursor: pointer;
  line-height: 100%;
  padding: 2.5px 12px;
  text-transform: lowercase;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-collor);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--nav-color);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__title-container {
  display: flex;
  flex-direction: column;
  margin-block-start: 67px;
}

.header__title {
  color: var(--title-decor, #bd00ff);
  font-family: var(--font-family);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--accent-color);
}

.header__subtitle {
  color: var(--background-color);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  max-width: 100%;
  margin-block-start: 56px;
}

.title-decor {
  background-color: var(--accent-color);
  line-height: 130%;
  font-weight: 700;
  font-size: 18px;
}

/* MAIN */

.content {
  display: flex;
  flex-direction: column;
  margin-block-start: 95px;
  gap: 50px;
}


.section {
  display: grid;
  gap: 20px;
  padding-inline: 10px;
}

.section__title {
  font-weight: 700;
  font-size: 18px;
  color: var(--accent-color);
  font-family: var(--font-family);
  line-height: 130%;
}

.section__article-list {
  display: grid;
  gap: 20px;
}

.section__article-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.section__artricle-title {
  color: var(--background-color);
}

.section__artricle-subtitle {
  margin-top: 10px;
  color: var(--background-color);
}

.section__article-text {
  color: var(--main-color);
  width: 100%;
  line-height: 130%;
}

.section__article-text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.section__article-text-link:hover {
  text-decoration: underline;
}

.section__article-text-link:focus {
  outline: none;
}

.section__article-text-link:focus-visible {
  border: 1px solid var(--accent-colorcolor);
}

.section__footer {
  gap: 10px;
}
.section__artricle-image {
  color: var(--background-color);
}

.section__images-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__image {
  display: grid;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-block-start: 40px;
  padding: 10px;
  min-height: 668px;
  line-height: 83%;
  font-weight: 700;
  font-size: 77px;
}

.footer__title {
  text-shadow: 2px 2px 0px var(--accent-color);
  color: var(--title-decor);
}


@media (width >= 768px) {
  .header {
    grid-template-columns: 1fr 1fr ;
    
  }

  .header__theme-menu {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  .header__title {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    
  }

  .header__subtitle {
    grid-column: 2 /3;
    grid-row: 3;
  }
}



