/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */




/* Начать с размеров 375пх ,потом подогнать 768 */
.page {
  background-color: var(--background-color);
  font-family: var(--font-family);
  font-size: 18px;
  font-weight: 400;
  background-image: var(--background-image) ;
  background-size: auto 768px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top center;
}

.header__rec {
  position: absolute;
  right: 20px;
  top: 10px;
}

.header__rec::before {
  content:'REC';
  block-size: 9px;
  inline-size: 9px;
  color: var(--rec-color);
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
}

.header__rec::after {
  content:'';
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color, #ff0070);
  background-color: var(--accent-color);
  block-size: 9px;
  inline-size: 9px;
  display: inline-block;
  margin-left: 10px;
}


.header {
  display: grid;
  grid-template-rows: 1fr min-content ;
  padding: 10px;
  align-items: center;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--ul-color-accent);
  border-block-start: 1px solid var(--ul-color-accent);
  inset-block-start: 10px;
  inset-inline-end: 10px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--ul-color-accent);
  border-block-end: 1px solid var(--ul-color-accent);
  inset-block-end: 10px;
  inset-inline-start: 10px;
}

.header__theme-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: var(--ul-color-accent);
  padding-top: 64px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.header__theme-menu-button {
  border: none;
  background-color: transparent;
  font-weight: 400;
  font-family: var(--font-family);
  font-size: 18px;
  cursor: pointer;
  line-height: 100%;
  padding: 2.5px 12px;
  text-transform: lowercase;
  padding-top: 2px;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--ul-color-accent);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--ul-color-accent);
  outline: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--ul-color-accent);
  pointer-events: none;
}

.header__title-container {
  display: flex;
  flex-direction: column;
  margin-block-start: 67px;
}

.header__title {
  color: var(--title-decor, #bd00ff);
  font-family: var(--font-family);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0px var(--accent-color);
}

.header__subtitle {
  color: var(--main-text-colors);
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  max-width: 100%;
  margin-block-start: 56px;
}

.title-decor {
  background-color: var(--text-background-color);
  line-height: 130%;
  font-weight: 700;
  font-size: 18px;
}

/* MAIN */

.content {
  display: flex;
  flex-direction: column;
  margin-block-start: 95px;
  gap: 50px;
}


.section {
  display: grid;
  gap: 20px;
  padding-inline: 10px;
}

.section__title {
  font-weight: 700;
  font-size: 18px;
  color: var(--title-color);
  font-family: var(--font-family);
  line-height: 130%;
}

.section__article-list {
  display: grid;
  gap: 20px;
}

.section__article-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__artricle-title {
  color: var(--title-color);
}

.section__artricle-subtitle {
  color: var(--title-color);
  font-weight: 400;
  margin-top: 3px;
}

.section__article-text {
  color: var(--main-color);
  width: 100%;
  line-height: 130%;
}

.section__article-text-link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link);
}

.section__article-text-link:hover {
  text-decoration: underline;
}

.section__article-text-link:focus {
  outline: none;
}

.section__article-text-link:focus-visible {
  border: 1px solid var(--accent-color);
}

.section__footer {
  gap: 10px;
  padding: 10px;
}
.section__artricle-image {
  color: var(--title-color);
  margin-block-end: 10px;
  margin-block-start: -10px;
}

.section__images-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section__image {
  display: grid;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer {
  display: grid;
  justify-items: center;
  align-items: center;
  margin-block-start: 30px;
  padding: 10px;
  min-height: 668px;
  line-height: 80%;
  font-weight: 700;
  font-size: 77px;
  font-family: var(--font-family);
}

.footer__title {
  text-shadow: 2px 2px 0px var(--accent-color);
  color: var(--title-decor);
  font-family: var(--font-family);
}


@media (width >= 768px) {
.header__rec {
  margin-block-start: 10px;
  margin-inline-end: 7px;
  }

.decorated-zone::after {
  inset-block-end: 10px;
  inset-inline-start: 10px;
  }

.decorated-zone::before {
  inset-block-start: 20px;
  inset-inline-end: 17px;
  }

.header__title-container {
  padding: 70px 0 114px ;
  gap: 57px;
  }

.header__theme-menu {
  grid-column: 1 / 3;
  grid-row: 1;
  margin-block-start: 117px;
  margin-inline-end: 8px;
  }

.header__theme-menu-button {
  margin-block-start: 1px;
  }

.header__title {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  margin-inline-start: -8px;
  margin-block-start: 40px;
  }

.header__subtitle {
  align-self: flex-end;
  width: 49%;
  margin-top: 104px;
  margin-inline-end: 4px;
  }

  /*-- MAIN--*/
.section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-block-start: 23px;
  margin-block-end: 11px;
  margin-inline-start: 18px; 
  }

.section__artricle-title {
  width: 100%;
} 

.section__article-list {
  grid-column: 2 / 4;
  width: 100%;
  }

.section__title {
  margin-inline-start: -5px;
}

.section__too {
  grid-column: -1 / 1;
  width: 100%;
  margin-inline-start: -5px;
  }

.section__article-item {
  margin-block-end: -1px;
  margin-inline-end: 6px;
  }

.section__footer{
  margin-block-start: 8px;
  padding: 22px 18px 10px 23px;
  }

.section__images-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.section__artricle-image {
  margin-block-end: 20px;
}

.section__image {
  height: 100%;  
}

.image__sunset {
  grid-column: 1 / 3;
}

.image__icecream {
  grid-column: 3;
  grid-row: 1 / 3;
}

.image__tape {
  grid-row: 2 / 4;
}

.image__city {
  grid-column: -3 / -1;
}

.footer {
  min-height: 1033px;
  display: flex;
  justify-content: center;
  
}

.footer__title {
  line-height: 130%;
  font-size: 118px;
  margin-block-start: 37px;
}
}

@media (width >= 1024px) {

.content {
  gap: 107px;
}

.header {
  min-height: 768px;
  grid-template-columns: 1fr;
}

.header__theme-menu {
  display: flex;
  justify-self: center;
  align-self: self-start;
  margin-block-start: -57px;
  margin-inline-start: 11px;
}

.header__theme-menu-list {
  flex-direction: row;
}

.header__title {
  margin-block-end: -47px;
  font-size: 157px;
}

.header__subtitle {
  padding-bottom: 12px;
  margin-inline-end: 7px;
}

.section {
  margin-block-start: -36px;
  margin-inline-end: 3px;
  margin-inline-start: 10px;
}

.section__title {
  margin-inline-start: 1px;
  
}

.section__too {
  grid-template-columns: 1fr 1fr 1fr;
  margin-inline-end: 8px;
  margin-inline-start: 2px;
  gap: 12px;
}

.title-decor {
  width: 100%;
}

.section__footer {
  margin-block-start: -47px;
}

.footer {
  min-height: 768px;
  margin-block-start: 52px;
}

.footer__title {
  font-size: 157px;
  padding-bottom: 36px;
}

.decorated-zone::after {
  inset-block-end: 21px;
  inset-inline-start: 22px;
}

.decorated-zone::before {
  inset-block-start: 19px;
  inset-inline-end: 18px;
}
}